 body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 20px;
        }

label {
            margin-top: 10px;
            font-weight: bold;
            padding: 10px 10px;
        }

.product-item {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.js-timer .timer-box{
    background-color: lightgrey;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    margin: 0.5rem;
    min-width: 50px;
}
